@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color-scheme: dark light;
	width: 100%;
	height: 100%;
	font-family: 'Geist Mono', sans-serif;
	color: rgba(255, 255, 255);
	background: linear-gradient(to bottom, transparent, rgb(0, 0, 0)) rgb(0, 0, 0);
}
